In [1]:
#data source: https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows/data

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [4]:
df = pd.read_csv('imdb_top_1000.csv')
df.head(1)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.30,Two imprisoned men bond over a number of years...,80.00,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"

In [5]:
df = df[["Series_Title", "Genre", "Overview", "Director", "Star1", "Star2", "Star3", "Star4"]]

In [6]:
df["Cast"]=df[["Star1", "Star2", "Star3", "Star4"]].apply(lambda x: ", ".join(x), axis = 1)
df.drop(columns=["Star1", "Star2", "Star3", "Star4"], inplace=True)

In [7]:
df.dtypes

Series_Title    object
Genre           object
Overview        object
Director        object
Cast            object
dtype: object

In [8]:
for i in df.columns:
    if df[i].dtype == "object":
        df[i]=df[i].str.strip()

In [9]:
df.duplicated().sum()

np.int64(0)

In [10]:
df.dropna(inplace=True)
df.isnull().sum()

Series_Title    0
Genre           0
Overview        0
Director        0
Cast            0
dtype: int64

In [11]:
df["Embedding"] = df.apply(lambda x: 
    f"Title: {x['Series_Title']} | Genre: {x['Genre']} | Director: {x['Director']} | Cast: {x['Cast']} | Overview: {x['Overview']}", axis=1)

In [12]:
df.drop(columns=["Genre", "Overview", "Director", "Cast"], inplace=True)

In [13]:
df.head(1)

               Series_Title                                          Embedding
0  The Shawshank Redemption  Title: The Shawshank Redemption | Genre: Drama...

In [14]:
df.to_csv("IMDB_Top_1000_Dataset_Preprocessed", index=False)